.video-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}


.video-info {
    width: 70%;
}

.video-list {
    width: 30%;
    display: flex;
    flex-direction: row;
}